name: DevOps CI/CD Library

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  #-------------------------------------------------------------------------------#
  #-------------------------------------------------------------------------------#
  # Build e Testes                                                                #
  #-------------------------------------------------------------------------------#
  #-------------------------------------------------------------------------------#
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Prettify code
        uses: creyD/prettier_action@v3.1
        with:
          prettier_options: --write **/*.{js,md}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linter:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Lint Code Base
        uses: github/super-linter@v3
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_CSS: true
          VALIDATE_MARKDOWN: true
          JAVASCRIPT_DEFAULT_STYLE: prettier

  #-------------------------------------------------------------------------------#
  #-------------------------------------------------------------------------------#
  # Deploy em Homologação (Heroku)                                                #
  #-------------------------------------------------------------------------------#
  #-------------------------------------------------------------------------------#

  deploy-homolog:
    name: Deploy Homolog
    runs-on: ubuntu-latest
    environment:
      name: "homolog"
    needs: [build, prettier]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to build on Heroku
          fetch-depth: 0

      - name: Login Heroku
        uses: akhileshns/heroku-deploy@v3.10.9 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: devops-local-library-hom
          heroku_email: santos.pedroh@gmail.com
          justlogin: true

      - name: Set Heroku remote
        run: heroku git:remote -a devops-local-library-hom

      - name: Set env variables
        run: |
          heroku config:set MONGODB_URI=${{ secrets.DB_URI }}

      - name: Push code to Heroku
        run: git push heroku main

  #-------------------------------------------------------------------------------#
  #-------------------------------------------------------------------------------#
  # Deploy em Produção (Google App Enginer)                                       #
  #-------------------------------------------------------------------------------#
  #-------------------------------------------------------------------------------#

  deploy-prod:
    name: Deploy Production
    runs-on: ubuntu-latest
    environment:
      name: "production"
    needs: [deploy-homolog]  
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
    
      - name: Deploy to Google App Engine
        uses: vijayp23/deploy-gae-action@1.0.1
        with:
          service-account: ${{ secrets.SERVICE_ACCOUNT }}
          project-id: ${{ secrets.PROJECT_ID }}
          config-files: './app.yml'
          # Optional
          service-version: 3                          
          delete-previous-versions: true             
          service-name: 'default'
          no-cache: false                             
          debug: false                                


